@use "../abstracts/colors" as *;
$primary: $carnation;
$secondary: $blue-ribbon;
$tertiary: $dodger-blue-2;
$headingDark: $stratos;
$headingLight: $white;
$textDark: rgba($stratos, 0.8);
$textLight: rgba($white, 0.8);
