@use "../abstracts/colors"as *;
$primary: $electric-violet;
$secondary: $carnation;
$tertiary : $bright-sun;
$headingDark: $stratos;
$headingLight: $white;
$textDark: rgba($stratos, .8);
$textLight: rgba($white, .8);