@use "../abstracts/colors" as *;
$primary: $carnation;
$secondary: $dodger-blue-2;
$tertiary: $caribbean-green;
$headingDark: $stratos;
$headingLight: $white;
$textDark: rgba($stratos, 0.8);
$textLight: rgba($white, 0.8);
