.feature-section-07{
    padding: 55px 0 60px;
    @media (min-width:768px) {
        padding: 75px 0 80px;
        
    }
    @media (min-width:992px) {
        
        padding: 95px 0 100px;
    }
    @media (min-width:1200px) {
        
        padding: 125px 0 130px;
    }
    position: relative;
    .section-title{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 80px;
        }
    }
    &__card{
        padding: 0px 30px;
        @media (min-width:1200px) {
            padding: 0px 60px;
        }
        .widget-icon{
            min-width: 60px;
            min-height: 60px;
            max-width: 60px;
            max-height: 60px;
            border-radius: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            @media (min-width:768px) {
                min-width: 80px;
                min-height: 80px;
                max-width: 80px;
                max-height: 80px;
                margin-bottom: 30px;
            }
        }
        .widget-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 1.444444444444444;
            @media (min-width:576px) {
                font-size: 20px;
            }
        }
        .widget-text{
            font-size: 16px;
            line-height: 26px;
            color: rgb(0, 11, 51,0.8);
        }
    }
    .col-lg-4{
        &:nth-child(1){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(253, 76, 92);
                }
            }
        }
        &:nth-child(2){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(0, 187, 152);
                }
            }
        }
        &:nth-child(3){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(55, 124, 253);
                }
            }
        }
        &:nth-child(4){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(120, 27, 255);
                }
            }
        }
        &:nth-child(5){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(255, 200, 62);
                }
            }
        }
        &:nth-child(6){
            .feature-section-07__card{
                .widget-icon{
                    background: rgb(0, 28, 128);
                }
            }
        }
    }
}