.brand-section-modifi--02{
    background: #2B59FF;
    @media (min-width: 992px){
        background: #2B59FF;
        padding-top: 80px !important;
        padding-bottom: 197px !important;
    }

}